[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[dev-packages]
pre-commit = "==2.*"
pandas = "*"
synapseformation = {editable = true, ref = "2d5edf8c673b4adb26df54f222b0e7ea99ab6e78", git = "https://github.com/Sage-Bionetworks/synapseformation.git"}
sceptre = ">=2.7.1"

[packages]
boto3 = "==1.*"
pyspark = "==3.*"
synapseclient = "==2.5.*"
