#!/usr/bin/env bash

55 * * * * ec2-user aws ecr get-login-password | docker login --username AWS --password-stdin 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest && docker pull 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest
0 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357512 --raw-folder-id syn29300097 --glue-workflow bridge-downstream-mobile-toolbox-cxhnxd-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/cxhnxd/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/cxhnxd/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
5 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357540 --raw-folder-id syn29300165 --glue-workflow bridge-downstream-mobile-toolbox-htshxm-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/htshxm/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/htshxm/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
10 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357582 --raw-folder-id syn29300178 --glue-workflow bridge-downstream-mobile-toolbox-fmqcjv-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/fmqcjv/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/fmqcjv/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
15 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn30034467 --raw-folder-id syn29456518 --glue-workflow bridge-downstream-mobile-toolbox-hktrrx-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/hktrrx/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/hktrrx/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
20 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn30795668 --raw-folder-id syn29456954 --glue-workflow bridge-downstream-mobile-toolbox-pmbfzc-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/pmbfzc/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/pmbfzc/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
25 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn51121831 --raw-folder-id syn51109164 --glue-workflow bridge-downstream-mobile-toolbox-ccbcwq-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/ccbcwq/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/ccbcwq/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
30 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn51125857 --raw-folder-id syn51083930 --glue-workflow bridge-downstream-mobile-toolbox-jfxqpk-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/jfxqpk/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/jfxqpk/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
56 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger:latest python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn51472302 --raw-folder-id  syn51449219 --glue-workflow bridge-downstream-mobile-toolbox-mtbwrj-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth --diff-s3-uri 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/mtbwrj/parquet/dataset_sharedschema_v1/' --diff-parquet-field recordid --diff-s3-uri-2 's3://bridge-downstream-parquet/bridge-downstream/mobile-toolbox/mtbwrj/parquet/dataset_archivemetadata_v1/' --diff-parquet-field-2 recordid --diff-file-view-field recordId --drop-duplicates
