0 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357512 --raw-folder-id syn29300097 --glue-workflow bridge-downstream-mobile-toolbox-cxhnxd-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth
5 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357540 --raw-folder-id syn29300165 --glue-workflow bridge-downstream-mobile-toolbox-htshxm-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth
10 * * * * ec2-user docker run --rm 611413694531.dkr.ecr.us-east-1.amazonaws.com/bootstrap_trigger python /root/BridgeDownstream/src/scripts/bootstrap_trigger/bootstrap_trigger.py --file-view syn29357582 --raw-folder-id syn29300178 --glue-workflow bridge-downstream-mobile-toolbox-fmqcjv-S3ToJsonWorkflow --ssm-parameter synapse-bridgedownstream-auth
