name: cleanup

on: delete

env:
  REPO_NAME: ${{ github.event.repository.name }}
  LAMBDA_BUCKET: sceptre-lambda-bucket-bucket-iw8km58inb0i
  CFN_BUCKET: sceptre-cloudformation-bucket-bucket-65ci2qog5w6l
  ECR_REPOSITORY: 634761300905.dkr.ecr.us-east-1.amazonaws.com/sns_to_glue

jobs:

  sceptre-delete:
    name: Delete CloudFormation stacks using sceptre
    runs-on: ubuntu-latest
    environment: develop
    env:
      namespace: $GITHUB_REF_NAME
    steps:

      - name: Setup code, pipenv, aws
        uses: Sage-Bionetworks/action-pipenv-aws-setup@v1
        with:
          aws_access_key_id: ${{ secrets.CI_USER_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CI_USER_SECRET_ACCESS_KEY }}
          role_to_assume: ${{ secrets.CI_ROLE_TO_ASSUME }}

      - name: Remove sceptre stacks
        run: pipenv run sceptre --var "namespace=${{env.namespace}}" delete develop --yes

      - name: Remove artifacts
        run: pipenv run python src/scripts/manage_artifacts/artifacts.py --remove --namespace ${{env.namespace}}
