name: upload-and-deploy

on: [push]

env:
  REPO_NAME: ${{ github.event.repository.name }}
  CFN_BUCKET: sceptre-cloudformation-bucket-bucket-65ci2qog5w6l
  NAMESPACE: bridge-downstream

jobs:

  pre-commit:

    name: Run pre-commit hooks against all files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.3

  upload-files:

    name: Upload files to S3 bucket
    runs-on: ubuntu-latest
    needs: pre-commit
    environment: develop
    steps:

      - name: Setup code, pipenv, aws
        uses: Sage-Bionetworks/action-pipenv-aws-setup@v1
        with:
          aws_access_key_id: ${{ secrets.CI_USER_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CI_USER_SECRET_ACCESS_KEY }}
          role_to_assume: ${{ secrets.CI_ROLE_TO_ASSUME }}

      - name: Setup sam
        uses: aws-actions/setup-sam@v1
        with:
          version: 1.37.0

      - name: Set namespace for non-default branch or for tag
        if: github.ref_name != 'main'
        run: echo "NAMESPACE=$GITHUB_REF_NAME" >> $GITHUB_ENV

      - name: Copy files to templates bucket
        run: python src/scripts/manage_artifacts/artifacts.py --upload --ref $GITHUB_REF_NAME

  sceptre-deploy-branch:
    name: Deploy branch using sceptre
    runs-on: ubuntu-latest
    needs: [pre-commit, upload-files]
    env:
      NAMESPACE: $GITHUB_REF_NAME
    if: github.ref_name != 'main' && github.ref_type != 'tag'
    environment: develop

    steps:
    - name: Setup code, pipenv, aws
      uses: Sage-Bionetworks/action-pipenv-aws-setup@v1
      with:
        aws_access_key_id: ${{ secrets.CI_USER_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.CI_USER_SECRET_ACCESS_KEY }}
        role_to_assume: ${{ secrets.CI_ROLE_TO_ASSUME }}

    - name: Create directory for remote sceptre templates
      run: mkdir -p templates/remote/

    - name: Deploy sceptre stacks
      run: pipenv run sceptre --var "namespace=${{ env.NAMESPACE }}" launch develop --yes

  sceptre-deploy-main:
    name: Deploy trunk using sceptre
    runs-on: ubuntu-latest
    needs: [pre-commit, upload-files]
    if: github.ref_name == 'main' && github.ref_type != 'tag'

    strategy:
      matrix:
        job-environment:
          - develop
          - prod

        include:
          - job-environment: develop
            sceptre-environment: develop

          - job-environment: prod
            sceptre-environment: prod

    environment: ${{ matrix.job-environment }}

    steps:
      - name: Setup code, pipenv, aws
        uses: Sage-Bionetworks/action-pipenv-aws-setup@v1
        with:
          aws_access_key_id: ${{ secrets.CI_USER_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.CI_USER_SECRET_ACCESS_KEY }}
          role_to_assume: ${{ secrets.CI_ROLE_TO_ASSUME }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: bootstrap_trigger
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG src/scripts/bootstrap_trigger/
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Create directory for remote sceptre templates
        run: mkdir -p templates/remote/

      - name: Deploy sceptre stacks
        run: pipenv run sceptre --var "namespace=${{ env.NAMESPACE }}" launch ${{ matrix.sceptre-environment }} --yes
